@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.container-fluid {
    width: 100vw;
    height: 100vh;
    background: #FF1616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .box {
    width: 700px;
    height: 400px;
    background: #eeee;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.521);
    animation: fadein 2s;
    animation-direction: alternate;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    body {
    margin: 0px;
    }
    h1 {
        font-family: 'Press Start 2P', cursive;
        box-shadow: .6em 0 0 #ffff;
        margin: 2rem 1rem;
        width: 18ch;
        overflow: hidden;
        color: #FFF;
        white-space: nowrap;
        animation: caret .5s step-end infinite alternate,type 5s steps(23, end)
    }

    @keyframes type {
        0% {
          width: 0;
        }
      
      }
      @keyframes caret { 
        50% { 
          box-shadow: .6em 0 0 transparent;
        }
      }
    span {
        color: #FF1616;
    }
    img {
        align-content: center;
        width: 200px;
        height: 200px;
    }
   .red {
       background-color: #b60707
       !important;
    }

    .red:hover {
        background-color:#FF1616 !important;
        color: #ffff !important;
    }
    .logo {
        width: 80px;
        height: 80px;
    }

    /* Teste de css e js */
    /* .rodar {
        transition: all 1.5s ease-in-out;
      }
      .rotateX:hover {
        transform: rotateX(180deg);
      }
      .rotateY:hover {
        transform: rotateY(180deg);
      }
      .rotateZ:hover {
        transform: rotateZ(180deg);
      } */