@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


.bg-morreu {
    background-color: rgba(46, 42, 42, 0.3);
    background-image: url(../public/gif5.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 8%;
    padding-top: 10.2%;
}

h1, p {
    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;
    text-align: center;
}
h1 {
    font-size: 150px;
}
p {
    
    font-size: 38px;
}

.botao-voltar {
    float: right;
}

.botao-desisto {
    float: left;
}

.botoes {
    width: 200px;
    vertical-align: baseline;
    padding-top: 20%;
}